@import '../../variables.scss';

.main {
  display: grid;
  grid-template-rows: 0fr 0fr 0fr 2fr;
}

.header {
  box-sizing: border-box;
  padding: 40px 40px 60px;
}

.chapter {
  margin: 0;
}

.filters {
  box-sizing: border-box;
  padding: 20px 16px;

  &__button {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 21px;
    margin-right: 20px;
  }
}


@media (max-width: 992px) {

  .main {
    grid-template-rows: 0fr 0fr 0fr 0fr 2fr;
  }

  .header {
    padding: 20px 16px 28px;
  }
}