@import '../../variables.scss';

.box {
  box-sizing: border-box;
  padding: 0 40px;
  margin-top: 40px;
}

.selector {}

.form {
  max-width: 278px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 16px;
}

.checkbox {

  &>input {
    display: none;

    &:checked+span {
      border: 1px solid $color-text;
    }
  }

  &>span {
    transition: all 0.2s linear;
    cursor: pointer;

    &:hover {
      border: 1px solid $color-text;
    }
  }
}

@media (max-width: 992px) {

  .box {
    padding: 0 16px;
    margin-top: 32px;
  }

  .form {
    margin-top: 20px;
  }
}