@import '../../variables.scss';

.box {
  box-sizing: border-box;
  padding: 0 40px;
  margin-top: 74px;
}

.selector {
  width: 184px;
  margin-top: 16px;
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 34px;
  outline: none;
  border: 1px solid $color-divider;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0 10px;

  font-size: 14px;
  font-family: $circe;
  // color: $color-text-secondary;

}

.list {
  list-style-type: none;
  border: 1px solid $color-divider;
  box-sizing: border-box;
  padding: 16px 0;
  margin: -1px 0 0;
}

.item {
  font-family: $circe;
  color: $color-text-secondary;
  box-sizing: border-box;
  padding: 0 16px;
  cursor: pointer;
  &:hover {
    color: $color-text-button;
    background-color: $hover;
  }
}

@media (max-width: 992px) {

  .box {
    padding: 0 16px;
    margin-top: 32px;
  }

  .selector {
    margin-top: 20px;
  }
}