@import '../../variables.scss';

.layout {
  container-type: inline-size;
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  box-sizing: border-box;
  padding-top: 72px;
}

.header {
  padding: 40px 40px 28px;
}

.chapter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  box-sizing: border-box;
}

.clear {
  display: flex;
  align-items: center;
  column-gap: 12px;
  transition: $transition;
  cursor: pointer;
}

.clear span {
  color: $color-text-secondary;
}

.icon {
  width: 24px;
  height: 24px;
  transition: $transition;
  cursor: pointer;

  & rect {
    transition: $transition;
  }
}

.clear:hover span {
  color: $color-text;
}

.clear:hover .icon {
  fill: $color-icon;
}

@media (max-width: 1024px) {

  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}

@media (max-width: 768px) {

  .header {
    padding: 20px 16px 24px;
  }
}