@import '../../variables.scss';

.social {
  // grid-column: 4;
  // grid-row: 1;


  // justify-self: flex-end;
  // align-self: flex-end;
  display: flex;
  column-gap: 26px;

  box-sizing: border-box;
  padding-bottom: 6px;

  & img {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 992px) {
  
  // .social {
  //   grid-column: 1;
  //   grid-row: 3;
  //   justify-self: center;
  //   margin-top: 32px;
  // }
}