@import '../../variables.scss';

.breadcrumbs {
  margin-bottom: 16px;

  color: $color-text-secondary;
  letter-spacing: $letter-spacing;
  text-transform: capitalize;
  text-align: left;
}

.ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;

  & span {
    margin-right: 8px;
  }
}

.link {
  color: $color-text;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 992px) {

  .breadcrumbs {
    margin-bottom: 18px;
  }
}